<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mywaf - admin</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/datepicker3.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Mywaf</span>Admin</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-user"></span>
                        {{.user}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li class="parent">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> Rules <span data-toggle="collapse" href="#sub-item-1"
                                                                           class="icon pull-right"><em
                    class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                {{range .rulesType}}
                <li>
                    <a class="" href="/index/rule/{{.}}">
                        <span class="glyphicon glyphicon-share-alt"></span> {{.}}
                    </a>
                </li>
                {{end}}
            </ul>
        </li>
        <li><a href="/index/user/list/"><span class="glyphicon glyphicon-user"></span>User</a></li>
        <li class="active"><a href="/index/config/list/"><span class="glyphicon glyphicon-cog"></span>Config</a></li>
    </ul>
    <div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a>
    </div>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Config</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Config</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        {{range $i,$j := .wafConfig}}
        <div class="col-md-12">
            <div class="panel panel-blue">
                <div class="panel-heading dark-overlay"><span class="glyphicon glyphicon-cog"></span>{{$i}}</div>
                <div class="panel-body">
                    <ul class="todo-list">
                        {{range $k,$v := $j}}
                        <li class="todo-list-item">
                            {{if $v.Button}}
                            <div class="form-group">
                                {{if eq $v.Value "on"}}
                                <input type="checkbox" class="{{$i}}" checked id="{{$v.Id}}" value="{{$v.Value}}"/>
                                {{else if eq $v.Value "off"}}
                                <input type="checkbox" class="{{$i}}" id="{{$v.Id}}" value="{{$v.Value}}"/>
                                {{end}}
                                <label for="{{$v.Id}}">{{$v.Name}}</label>
                            </div>
                            {{else if eq $v.Name "waf拦截返回页面"}}
                            <div class="form-group">
                                <label>{{$v.Name}}</label>
                                <textarea class="form-control {{$i}}" id="{{$v.Id}}" rows="3">{{$v.Value}}</textarea>
                            </div>
                            {{else}}
                            <div class="form-group">
                                <label>{{$v.Name}}</label>
                                <input class="form-control input-md {{$i}}" placeholder="Placeholder" value="{{$v.Value}}" id="{{$v.Id}}"/>
                            </div>
                            {{end}}
                        </li>
                        {{end}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group center-block">
                        <button type="submit" class="btn btn-primary center-block" name="{{$i}}">提交</button>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
        {{end}}


    </div><!--/.row-->
</div>    <!--/.main-->


<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/chart.min.js"></script>
<script src="/js/chart-data.js"></script>
<script src="/js/easypiechart.js"></script>
<script src="/js/easypiechart-data.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script>
    $('#calendar').datepicker({});

    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>
<script>
    $("button").click(function () {
        var type=$(this).attr("name").toString()
        var data=[]
        $("."+type).each(function (){
            id=$(this).attr("id").toString()
            value=$(this).val()
            var tmp={}
            tmp["id"]=id
            tmp["value"]=value
            data.push(tmp)
        })
        $.ajax({
            url:"/index/config/update",
            type:"POST",
            dataType:"text",//"application/x-www-form-urlencoded",
            data: JSON.stringify(data),
            contentType:"application/json",
            success: function (res) {
                alert(res);
                document.location="/index/config/list";
            }
        })
    })
    $("input:checkbox").click(function () {
        if ($(this).val()=="on"){
            $(this).val("off")
            $(this).attr("checked",false)
        }else{
            $(this).val("on")
            $(this).attr("checked",true)
        }
    })
</script>
</body>

</html>
