<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>mywaf - Dashboard</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/datepicker3.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/js/html5shiv.js"></script>
<script src="/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span>Mywaf</span>Admin</a>
			<ul class="user-menu">
				<li class="dropdown pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
						{{.user}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
						<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div><!-- /.container-fluid -->
</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="parent">
				<a href="#">
					<span class="glyphicon glyphicon-list"></span> Rules <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					{{range .rulesType}}
					<li>
						<a class="" href="/index/rule/{{.}}">
							<span class="glyphicon glyphicon-share-alt"></span> {{.}}
						</a>
					</li>
					{{end}}
				</ul>
			</li>
			<li><a href="/index/user/list/"><span class="glyphicon glyphicon-user"></span>User</a></li>
			<li class=""><a href="/index/config/list/"><span class="glyphicon glyphicon-cog"></span>Config</a></li>
			<li class="active"><a href="/index/dashboard/show"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
		</ul>
		<div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a></div>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-6">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-user glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{.totalRequest}}</div>
							<div class="text-muted">Total Request</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<em class="glyphicon glyphicon-stats glyphicon-l"></em>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{.attackRequest}}</div>
							<div class="text-muted">Attack Request</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-xs-6 col-md-12">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>攻击占比</h4>
						<div class="easypiechart" id="easypiechart-red" data-percent="{{.per}}" ><span class="percent">{{.per}}</span>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Request Count Today</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->



		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default chat">
					<div class="panel-heading" id="accordion"><span class="glyphicon glyphicon-list-alt"></span>Log</div>
					<div class="panel-body">
						<ul id="logList">
<!--							<li class="left">-->
<!--								<span class="chat-img pull-left">-->
<!--									<img src="http://placehold.it/80/30a5ff/fff" alt="User Avatar" class="img-circle" />-->
<!--								</span>-->
<!--								<div class="chat-body">-->
<!--									<div class="header">-->
<!--										<strong class="primary-font">John Doe</strong> <small class="text-muted">32 mins ago</small>-->
<!--									</div>-->
<!--									<p>-->

<!--									</p>-->
<!--								</div>-->
<!--							</li>-->
<!--							<li class="right clearfix">-->
<!--								<span class="chat-img pull-right">-->
<!--									<img src="http://placehold.it/80/dde0e6/5f6468" alt="User Avatar" class="img-circle" />-->
<!--								</span>-->
<!--								<div class="chat-body clearfix">-->
<!--									<div class="header">-->
<!--										<strong class="pull-left primary-font">Jane Doe</strong> <small class="text-muted">6 mins ago</small>-->
<!--									</div>-->
<!--									<p>-->
<!--										Mauris dignissim porta enim, sed commodo sem blandit non. Ut scelerisque sapien eu mauris faucibus ultrices. Nulla ac odio nisl. Proin est metus, interdum scelerisque quam eu, eleifend pretium nunc. Suspendisse finibus auctor lectus, eu interdum sapien.-->
<!--									</p>-->
<!--								</div>-->
<!--							</li>-->
<!--							<li class="left clearfix">-->
<!--								<span class="chat-img pull-left">-->
<!--									<img src="http://placehold.it/80/30a5ff/fff" alt="User Avatar" class="img-circle" />-->
<!--								</span>-->
<!--								<div class="chat-body clearfix">-->
<!--									<div class="header">-->
<!--										<strong class="primary-font">John Doe</strong> <small class="text-muted">32 mins ago</small>-->
<!--									</div>-->
<!--									<p>-->
<!--										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida tortor aliquam ultricies.-->
<!--									</p>-->
<!--								</div>-->
<!--							</li>-->
						</ul>
					</div>

<!--					<div class="panel-footer">-->
<!--						<div class="input-group">-->
<!--							<input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here..." />-->
<!--							<span class="input-group-btn">-->
<!--								<button class="btn btn-success btn-md" id="btn-chat">Send</button>-->
<!--							</span>-->
<!--						</div>-->
<!--					</div>-->
				</div>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->

	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
<!--	<script src="/js/chart-data.js"></script>-->
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
	<script>
		var all=null;
		var attack=null;
		var logs=null;
		$.ajax({
			url:"/json/log",
			type:"get",
			dataType:"json",
			async:false,
			success:function (res){
				all=res.jsonCountList.all
				attack=res.jsonCountList.attack
				logs=res.data
			},
			error:function (res){
			}
		})
		var lineChartData = {
			labels : ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"],
			datasets : [
				{
					label: 'All Request',
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : all
				},
				{
					label: 'Attack Request',
					fillColor : "rgba(48, 164, 255, 0.2)",
					strokeColor : "rgba(48, 164, 255, 1)",
					pointColor : "rgba(48, 164, 255, 1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(48, 164, 255, 1)",
					data : attack
				}
			]
		}
		window.onload = function(){
			var chart1 = document.getElementById("line-chart").getContext("2d");
			window.myLine = new Chart(chart1).Line(lineChartData, {
				responsive: true
			});
		};
		var per=attack.length/all.length;
		// $("#easypiechart-red").attr("data-percent",per);
		// $("#easypiechart-red").find(".percent").html(per+"%");
		var logStr=[];
		for (i=0;i<logs.length;i++){
			if (logs[i]==null){
				continue
			}
			for (x=0;x<logs[i].length;x++){
				logStr.push(JSON.stringify(logs[i][x]))//logs[i][x];
			}
		}
		$.each(logStr,function (index,value) {
			var tmp=document.createElement("li");
			tmp.className='left';
			//var content='<div class="chat-body"><p>'+value+'</p></div>';
			tmp.innerText=value;
			$("#logList").append(tmp);
		})
	</script>
</body>

</html>
